{% extends 'base.html'%}
{% load static %}

{% block content %}

<!-- Main Section Start -->
<div class="main-section">
    {% include 'customer/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!-- Load Sidebar Here -->
                     {% include 'includes/c_sidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            <h5 class="text-uppercase">overview</h5>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-header">
                                            Total Orders
                                        </div>
                                        <div class="card-body text-center">
                                            <a href="#"><h5 class="card-title">{{ orders_count }}</h5></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-header">
                                            Logged in as: <b>{{ user.email }}</b>
                                        </div>
                                        <div class="card-body text-center">
                                            <a href="{% url 'cprofile' %}"><h5 class="card-title"> <i class="fa fa-edit"></i> Edit profile</h5></a>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <br>
                            
                            {% if ongoing_orders %}
                                
                            
                            <h5 class="text-uppercase">Ongoing Orders</h5>
                            <div class="row">
                                
                                {% for order in ongoing_orders %}
                                
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="card">
                                        <div class="card-header">{{ order.order_number }}</div>
                                        <div class="card-body">
                                            <ul >
                                                <li class="d-flex">
                                                    <div class="text-left" style="margin-right: 80px;"><a href="{% url 'order_detail' order.order_number %}"><h6>See Order Details</h6></a></div>
                                                    <div class="text-right"><a href="{% url 'receive_order' order.order_number %}" class=""><i class="fa fa-check"></i>Received</a></div>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                    
                                {% endfor %}
                                    
                            </div>
                            {% endif %}
                            <br>

                            {% for order, ordered_foods in order_data.items %}
                            <h5 class="text-uppercase">Share Feedback</h5>                    
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card">
                                        <div class="card-header">{{ order.order_number }}</div>
                                        <div class="card-body">
                                            
                                            <div class="text-center"><button type="button" class="btn btn-primary" data-id="{{order.order_number}}" data-url="" data-bs-toggle="modal" data-bs-target="#reviewModal">
                                                Submit Your Review
                                              </button></div>
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}

                            <br>
                            <h5 class="text-uppercase">Recent orders</h5>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0">
                                    <div class="user-orders-list">
                                        <div class="responsive-table">
                                            <table class="table table-hover">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Order #</th>
                                                    <th scope="col">Total</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Action</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                {% for order in recent_orders %}     
                                                  <tr>
                                                    <td><b><a href="{% url 'order_detail' order.order_number %}" class="text-dark">{{ order.order_number }}</a></b></td>
                                                    
                                                    <td>${{ order.total }}</td>
                                                    <td>{{ order.status }}</td>
                                                    <td>{{ order.created_at }}</td>
                                                    <td><a href="{% url 'order_detail' order.order_number %}" class="btn btn-danger">Details</a>
                                                        <a href="{% url 'rate' order.order_number %}" class="btn btn-success">Rate</a>
                                                      </td>
                                                  </tr>  
                                                {% endfor %}                                                
                                                </tbody>
                                              </table>
                                        </div>												
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->


{% include 'includes/alerts.html' %}

{% endblock %}